node_modules/
.next/
out/
build/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
__pycache__/
*.pyc
env/
venv/
.venv/
backend/env/
backend/venv/
backend/.venv/
backend/temp/
backend/*.mp4
backend/*.webm
backend/*.m4a
*.mp4
*.webm
*.m4a
test_vid.mp4
grep.txt
*.html
tiktok_dump.json
Nexa Web Platfrom/
